
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Work+Sans&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* Banner Styles */
header{
    min-height: 808px;
    min-width: 1600px;
}

.banner{
    background-image: url("../images/banner/banner1.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-div{
    display: flex;
    justify-content: space-evenly;
    
}
.banner-content{
    margin: 216px 230px 364px 845px;
    width: 525px;
    height: 228px;
    
}
.banner-title{
    font-weight: 700;
    font-size: 65px;
    text-align: right;
    color: #151414;
}
.banner-description{
    font-size: 16px;
    text-align: right;
    color: #444343;
    margin-top: 24px;
}
.contact-button{
    margin-top: 32px;
    background-color: #FD6E0A;
    padding: 21px 25px;
    margin-left: 370px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    width: 160px;
    height: 64px;
    border: 0 solid white;
}

/* Main Sections */

/* Failure Section */

.failures{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.fail-image{
    /* margin-left: 100px; */
    /* margin-right: 87px; */
}
.fail-content{
    margin-top: 100px;
    margin-right: 250px;
}
.fail-title{
    width: 288px;
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
.fail-description{
    width: 416px;
    height: 104px;
    margin-top: 24px;
    color: #444343;
}

.failures li{
    list-style: none;
    font-size: 16px;
    color: #444343;
}

.failures ul li i{
    margin-right: 10px;
    color: #06f106;
}

/* Plans section */
.plans-section h2{
    text-align: center;
    margin: 100px 230px;
    width: 1141px;
}
.plans-section h2{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
    margin-left: 400px;
}
.plans{
    display: flex;
    justify-content: space-evenly;
}
.plan{
    text-align: center;
}
.plan-title{
    margin: 10px 0px;
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    
}
.plan p{
    font-weight: 500;
    font-size: 20px;
    color: #737272;
}

/* Positive section styles */

.positive-section{
    /* width: 1141px; */
    height: 300px;
    margin: 100px 230px;
    background-image: url("../images/gradient2.png"), url("../images/watch.png");
    background-blend-mode: screen;
    background-size: cover;
    /* border: 0px solid white; */
    border-radius: 5px;;
}

.positive-title{
    
    margin-left: 64px;
    padding-top: 60px;
    font-weight: 700;
    font-size: 40px;
    width: 459px;
    height: 64px;
    color: #fff;
}

.call-button{
    margin-left: 64px;
    margin-top: 50px;
    color: #FD6E0A;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    border: 0px solid white;
    padding: 20px 36px;
}

/* Achievment section */

.achievment{
    background-color: darkgrey;
    color: #fff;
    width: 1141px;
    height: fit-content;
    margin-left: 300px;
    margin-right: 300px;
}

.achievment h3{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}



.achievment li{
    list-style: none;
    margin-left: 480px;
    font-size: 16px;
    line-height: 26px;
    
}

.achievment li i{
    margin-right: 5px;
    color: crimson;
}

/* Footer Sttyles */

.footer{
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    background: #151414;
    color: white;
    
    
}
.div-one{
    height: 550px;
    width: 350px;
}
.footer-title{
    margin-top: 130px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 45px;
}
.future-desc {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
}
.future-email{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
}
.media{
    display: flex;
    justify-content: flex-start;
    margin-top: 32px;
    
    
}
.media img{
    margin-right: 17px;
    margin-bottom: 50px;
}
.footer-title{
    margin-bottom: 32px;
}
.subscribe-email{
    margin-bottom: 20px;
    padding: 20px 100px 20px 5px;
    background-color: #151414;
    color: #fff;
    border-radius: 5px;
}
.subscribe-button{
    margin-top: 32px;
    background-color: #fff;
    padding: 21px 25px;
    
    color: #FD6E0A;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
}